body {
  padding: 100px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.audio {
  max-width: 400px;
  audio {
    display: none;
  }

  &-player {
    padding: 5px 10px;
    height: 4rem;
    width: 100%;
    font-size: 0.75em;
    position: relative;
    border-radius: 10px;
    background: lightgray;

    .timeline {
      background: white;
      width: calc(100% - 3.3rem);
      max-width: calc(100% - 3.3rem);
      position: relative;
      cursor: pointer;
      height: 0.4rem;
      top: 50%;
      left: 3.1rem;
      right: 0;
      transform: translateY(-50%);
      z-index: 10;
      .progress {
        background: #E31F26;
        width: 0%;
        height: 100%;
        transition: 0.25s;
        position: relative;
        &::after {
          content: "";
          height: 1.75rem;
          width: 0.4rem;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background: #BCBEC0;
          border-radius: 1rem;
        }
      }
    }
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      padding: 0 20px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;

      > * {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .toggle-play {
        &.play {
          cursor: pointer;
          position: relative;
          left: 0;
          height: 10px;
          width: 10px;
          border: 7px solid transparent;
          border-left: 10px solid white;
          &:hover {
            transform: scale(1.1);
          }
        }
        &.pause {
          height: 15px;
          width: 20px;
          cursor: pointer;
          position: relative;
          &:before {
            position: absolute;
            top: 0;
            left: 0px;
            background: white;
            content: "";
            height: 15px;
            width: 3px;
          }
          &:after {
            position: absolute;
            top: 0;
            right: 8px;
            background: white;
            content: "";
            height: 15px;
            width: 3px;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .time {
        margin-top: 5px;
        display: flex;
        position: static;
        position: absolute;
        top: 50%;
        right: 10px;
        font-size: 1rem;
        color: white;
        > * {
          padding: 2px;
        }
      }
      .volume-container {
        cursor: pointer;
        .volume-button {
          height: 26px;
          display: flex;
          align-items: center;
          .volume {
            transform: scale(0.7);
          }
        }

        position: relative;
        z-index: 2;
        .volume-slider {
          position: absolute;
          left: -3px; top: 15px;
          z-index: -1;
          width: 0;
          height: 15px;
          background: white;
          box-shadow: 0 0 20px #000a;
          transition: .25s;
          .volume-percentage {
            background: coral;
            height: 100%;
            width: 75%;
          }
        }
        &:hover {
          .volume-slider {
            left: -123px;
            width: 120px;
          }
        }
      }
    }
  }
}